  * {
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

.container{
  max-width: 100%;
  padding: 25px;
}
/* Headings */
h2{
  color: rgb(93, 90, 90);
  font-size: 1.8em;
}
h3{
  font-size: 1.6em;
  color: rgb(93, 90, 90);

}
h4{
  font-size: 1.4em;
  color: rgb(93, 90, 90);

}
h5{
  font-size: 1.2em;
  margin-bottom: 0;
  color: rgb(93, 90, 90);

}
a{
  text-decoration: none;
  color: rgb(24, 77, 148);
}
a:hover{
  color: rgb(53, 120, 210)
}


ol.link-menu{
  /*color: rgb(81, 54, 200);*/
}
ol.link-menu  ul{
  list-style-type: none;
}

/* Color classes */
.black{
  color: black;
}


/* Header */
#logo{
  width: 158px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
}
#logo img{
  width: 100%;
  height: 100%;
}


header{
  padding-top: 8px;
  background-color: rgb(37,37,35);
}

header .container{
  padding: 10px 25px;
}

nav{
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
  color: white;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  float: right;
  text-align: right;
}

nav ul{
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin-top: 25px;
  transition: max-height .2s ease-out;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}

nav ul li a{
  color: white;
}

nav ul li a:hover{
  text-shadow: 0px 0px 16px rgba(255,255,255,0.56);
}

#hamburger-btn, #hamburger-btn + label{
  display: none;
}

#hamburger-btn:checked ~ .menu{
  max-height: 500px;
}

#hamburger-btn:checked ~ ul {
  max-height: 999px;
}

.icon span{
  border-bottom: 4px solid white;
  width: 40px;
  height: 10px;
  display: block;
}




.content{
  background-color: rgb(40,40,38);
}


/* Articles on home page */
article.list{
  margin-bottom: 15px;
  /*box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.15);*/
  transition: all 200ms ease-out;
  width: 21%;
  margin: 1.7%;
  display: inline-block;
  vertical-align: top;
  /*height: 300px;*/
}
article.list:hover{
  /*box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.25);*/
}
.featured-img{
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
  overflow: hidden;
}
.featured-img img{
  width: 100%;
  height: auto;
}

.featured-img:hover img{
  transition: all 200ms ease-out;
  transform: scale(1.01);
}


article .article-title{
  font-size: 1.1em;
  border-bottom: 2px dashed rgb(126, 126, 126);
  line-height: 1.4em;
  letter-spacing: 1px;
  color: white;
  padding-bottom: .8em;
}

article .article-title:hover{
  text-shadow: 0px 0px 16px rgba(255,255,255,0.56);
}

article .post-details{
  color: rgb(126,126,126);
}

/* Single page articles */
article.single{
  display: block;
  width: 100%;
  background-color: #f1f1f1;
  margin: 0;
}

article.single header{
  padding-top: 18em;
  padding-left: 6%;
  padding-bottom: 5em;
  padding-right: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
article.single header h1{
font-size: 3.5em;
color: white;
}
article.single .post-content{
  margin: 50px auto 25px;
  max-width: 860px;
  padding: 25px 50px;
  font-size: 1.2em;
  background-color: #fff;
  color: rgb(46, 46, 46);
  line-height: 2em;
}

article.single .post-content p{
  margin-bottom: 25px;
}

article.single .post-content img{
  max-width: 100%;
}

article.single h2{
  margin: 50px 0;
}

article.single #disqus_thread{
  margin: 20px auto 25px;
  max-width: 860px;
  padding: 10px;
}

/* Categories */
article.category{
  margin-bottom: 15px;
  transition: all 200ms ease-out;
  width: 21%;
  margin: 1.7%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

article.category h2{
  left: 5%;
  top: 20%;
  position: absolute;
  color: white;
}

/* Footer */
footer{
  background-color: rgb(40,40,38);
  color: white;
  margin: 0;
  padding: 25px;
}

.shadow{
  box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.08);
}

@media only screen and (max-width: 1400px){
  article.list{
    width: 29%;
  }
}
@media only screen and (max-width: 1000px){
  article.list{
  width: 46%;
  }
  #hamburger-btn + label{
   display: block;
   margin-top: 15px;
 }
  nav ul{
    position: absolute;
    right: 0;
    max-height: 0px;
    background-color: rgb(37,37,35);
    text-align: right;
    z-index: 99;

  }
  nav ul li{
    padding: 0 20px 20px 20px;
    display: block;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 650px){
  article.list{
    width: 96%;
  }
  article.single header h1{
  font-size: 3em;
  color: white;
  }

}

.size-full{
  max-width: 100%;
  height: auto;
}
